
<h2>Categoria: {{categoria}}</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
    <div class="card" *ngFor="let producto of productos">
        <img [src]="producto.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{producto.title}}</h5>
          <p class="card-text">Descripcion: {{producto.description}}</p>
          <p class="card-text">Categoria: {{producto.category}}</p>
          <p class="card-text"><small class="text-muted">Precio: {{producto.price}}</small></p>
        </div>
    </div>
</div>
</div>