<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="login( f )"
                #f="ngForm"
                class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Login
                </span>

                <span *ngIf="f.submitted && f.controls['dni'].errors"
                    class="text-danger animated fadeIn">El correo es obligatorio</span> 
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="dni"
                           [(ngModel)]="usuario.dni"
                           required
                           dni

                           placeholder="dni">

                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
